body {
  font-size: 14px;
}

.bar {
  fill: steelblue;
}

#header {
  width: 960px;
  margin: auto;
  padding-top: 60px;
}

#chart {
  width: 960px;
  height: 3272.23px;
  margin: auto;
  font-size: 0;
}

.info {
  font-size: 0;
}

.axis {
  /* font: 8px sans-serif; */
  font: 0px sans-serif;
  stroke-width: 0.4px;
}

h1 {
  font-size: 64px;
}

h4 {
  font-size: 32px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.tick text {
  font: 10px sans-serif;
  stroke: #ccc;
}

.x.axis path {
  display: none;
}

.year {
  font-family: Georgia, serif;
  font-size: 22px;
  fill: #ccc;
  opacity: 0.5;
  shape-rendering: crispEdges;
}

.label {
  font-family: Georgia, serif;
  font-size: 12px;
  font-style: normal;
  fill: #000;
  opacity: 0.5;
  shape-rendering: crispEdges;
}

.annotation {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  /* font-style: italic; */
  fill: #000;
  opacity: 0.95;
  shape-rendering: crispEdges;
}

.annotation {
  position: fixed;
  text-align: center;
  width: 120px;
  padding: 10px;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  background: none;
  pointer-events: none;
  opacity: 0.9;
  border: 1px solid #ccc;
  z-index: 100;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  padding: 2px;
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  background: #ffffff;
  pointer-events: none;
  opacity: 0;
  border: 1px solid #ccc;
  z-index: 120;
}

div.tooltip .h3 {
  text-align: left;
  font-size: 8px;
}

.grid .tick {
  stroke: lightgrey;
  stroke-opacity: 0.9;
  stroke-width: 0.4;
  stroke-dasharray: 5, 3;
}

.grid path {
  stroke-width: 0;
}

.grid-background {
  fill: none;
}

/*http://miekd.com/articles/pull-quotes-with-html5-and-css/*/

.has-pullquote:before {
  /* Reset metrics. */
  padding: 0;
  border: none;
  /* Content */
  content: attr(data-pullquote);
  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 320px;
  margin: 12px -20px 24px 36px;
  /* Baseline correction */
  position: relative;
  top: 5px;
  /* Typography (30px line-height equals 25% incremental leading) */
  font-size: 23px;
  line-height: 30px;
}

.has-pullquote p {
  color: green;
}

.pullquote-left:before {
  float: left;
  margin: 12px 31px 24px -102px;
  width: 251px;
}

/*https://css-tricks.com/almanac/properties/f/float/*/

.right {
  float: right;
  margin-left: 1em;
}

.left {
  float: left;
  margin-right: 1em;
}

figure {
  text-align: center;
  text-transform: uppercase;
  padding: .2em;
  margin: 0;
}

figure img {
  max-width: 100%;
}

/*https://css-tricks.com/snippets/css/drop-caps/*/

.firstcharacter {
  float: left;
  color: #4682B4;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

nota {
  font-size: 0.8em;
  color: #2f4f4f;
  text-align: right;
  margin-top: 15px;
  padding-bottom: 20px;
  font-style: italic
}

nota a {
  text-decoration: underline;
}